@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@font-face {
  font-family: "VG5000";
  src: url("./font/VG5000-Regular_web.eot");
  src: url("./font/VG5000-Regular_web.eot?#iefix") format("embedded-opentype"), url("./font/VG5000-Regular_web.woff") format("woff"), url("./font/VG5000-Regular_web.woff2") format("woff2"), url("./font/VG5000-Regular_web.ttf") format("truetype"), url("./font/VG5000-Regular_web.svg#svgFontName") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #808080;
  font-family: "Montserrat", sans-serif;
  color: #808080;
  overflow: hidden;
}

.container {
  position: absolute;
  top: calc(50% - 40vh);
  left: calc(50% - 40vw);
  display: flex;
  flex-direction: column;
  background-color: #2a182e;
  width: 80vw;
  max-width: 100vw;
  height: 80vh;
  max-height: 100vh;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 3px 6px 5px 1px rgba(0, 0, 0, 0.3);
}

.max-window,
.mobile {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
}
.max-window .resize,
.mobile .resize {
  display: none;
}

.mobile .dots {
  display: none;
}

.min-window {
  height: 40px;
  width: 300px;
  top: calc(100% - 40px);
  left: 0;
}
.min-window main,
.min-window footer {
  display: none;
}

header {
  flex: 0 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  user-select: none;
}
header .ico {
  width: 24px;
  height: 22px;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
header .ico span {
  background-color: #808080;
}
header .ico span:first-child {
  grid-area: 1/1/3/3;
}
header .ico span:nth-child(2) {
  grid-area: 1/3/4/4;
}
header .ico span:last-child {
  grid-area: 3/1/4/3;
}
header h1 {
  font-size: 1.2rem;
  text-transform: capitalize;
  flex: 1 0 auto;
  text-align: center;
  cursor: grab;
}
header .dots {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .dots span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #808080;
  box-shadow: inset 3px 6px 5px 1px rgba(0, 0, 0, 0.3);
}
header .dots span:first-child:hover {
  cursor: pointer;
  background-color: #f9a61a;
  box-shadow: 0 0 4px 4px rgba(249, 166, 26, 0.125);
}
header .dots span:nth-child(2):hover {
  cursor: pointer;
  background-color: #428b17;
  box-shadow: 0 0 4px 4px rgba(66, 139, 23, 0.125);
}
header .dots span:last-child:hover {
  cursor: pointer;
  background-color: #f04e37;
  box-shadow: 0 0 4px 4px rgba(240, 78, 55, 0.125);
}

main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: "VG5000";
  overflow-y: hidden;
}
main .paragraph {
  height: 100%;
  flex: 1 0 320px;
  padding: 50px;
  overflow-y: overlay;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .paragraph p {
  font-size: 2rem;
  line-height: 1.15;
  letter-spacing: 0.01em;
}
main .paragraph p::first-letter {
  font-size: 2.5em;
  float: left;
  margin-right: 0.1em;
  background-color: #f9a61a;
  border-radius: 2px;
  color: #2a182e;
  padding: 0 0.15em;
  margin-top: 0.145em;
}
main .paragraph button {
  background-color: #007ab3;
  font-family: inherit;
  text-transform: capitalize;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 2rem;
  margin-top: 2rem;
  padding: 0.75rem;
  cursor: pointer;
}
main .paragraph button:hover {
  background-color: #009de6;
}
main .grid {
  height: 100%;
  flex: 1 0 50%;
  padding: 50px;
  border-left: 1px solid rgba(128, 128, 128, 0.2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem 1.5rem;
  overflow-y: overlay;
}
main .grid article:last-child {
  margin-bottom: 50px;
}
main .grid article svg {
  stroke: rgba(128, 128, 128, 0.2);
  background-color: rgba(220, 149, 193, 0.05);
  width: 100%;
  height: 260px;
}
main .grid article h2 {
  position: relative;
  margin: 0.5rem 0;
  padding-right: 2rem;
  text-transform: capitalize;
  font-size: 1.5rem;
}
main .grid article h2::after {
  content: ">>";
  position: absolute;
  right: 4px;
  top: 0;
}
main .grid article p {
  line-height: 1.1;
}
main.column {
  overflow-y: overlay;
}
main.column .paragraph {
  height: max-content;
  padding: 30px;
}
main.column .grid {
  height: max-content;
  padding: 30px;
  overflow-y: unset;
}
main.column .grid article:last-child {
  margin-bottom: 0;
}

footer {
  user-select: none;
  flex: 0 0 30px;
  display: flex;
  margin-top: auto;
  align-items: center;
  font-size: 0.7em;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
}
footer > * {
  padding: 0 10px;
}
footer .time {
  letter-spacing: 1px;
  flex: 1 1 auto;
  text-align: right;
}
footer .resize {
  padding: 0;
  flex: 0 0 15px;
  height: 30px;
  cursor: nwse-resize;
}

a {
  color: inherit;
}

@media (hover: hover) and (pointer: fine) {
  ::-webkit-scrollbar-track {
    background-color: #2a182e;
  }

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.2);
    border: 5px solid #2a182e;
  }
}

/*# sourceMappingURL=style.css.map */
